.container {
	align-items: center;
	background: white;
	border-top: 5px solid black;
	border: 1px solid black;
	bottom: 0px;
	display: flex;
	height: 140px;
	justify-content: flex-start;
	left: 0px;
	overflow-x: scroll;
	position: fixed;
	width: 100%;
}

.figure {
	display: inline-block;
	margin: 0 10px;
	text-align: center;
}

.image {
	cursor: pointer;
	display: block;
	height: 80px;
	margin: 0 auto;
	width: auto;
}

.minTrackedViewDuration {
	bottom: 150px;
	left: 10px;
	position: fixed;
}
