body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: monospace;
}

.container{
  padding: 10px 20px;
  border:  1px solid bla
}

.list {
  padding: 0;
  margin: 0;
  
  li {
    margin: 20px;
  }
}

.active {
  background: yellow;
}
